.global-footer {
  background: $black;
  padding: ($base-margin * 4) 0;
  
  .content-wrapper {
    display: flex;
    align-items: center;
  }

  a {
    margin-right: $base-margin;
  }

  p {
    float: right;
    margin-left: auto;
  }
}