.global-header {
  border-bottom: 1px solid $grey-4;
  margin: 0 0 ($base-margin * 4);
  padding: $base-margin 0;

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .logo {
      margin: 0 $base-margin $base-margin 0;

      @include tablet {
        margin: 0 $base-margin 0 0;
      }
    }

    nav {
      @include tablet {
        margin-left: auto;
        float: right;
      }
    }
  }
}
