.content-wrapper {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1em;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.bare-list {
  list-style-type: none;
  padding: 0;
}

.dotted-list {
  list-style-type: disc;
  padding: 0 0 0 $base-margin;
}

.bg {
  background: $white;
  width: max-content;
  padding: $base-margin;
  margin: 0 0 $base-margin 0;

  &--black {
    background: $black;
  }
}
