.content-wrapper {
  @include clearfix;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1em;
}

.bare-list {
  list-style-type: none;
  padding: 0;
}

.dotted-list {
  list-style-type: disc;
  padding: 0 0 0 $base-margin;
}

.bg {
  background: $white;
  width: max-content;
  padding: $base-margin;
  margin: 0 0 $base-margin 0;

  &--black {
    background: $black;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
