.logo {
  a {
    text-decoration: none;
  }

  span {
    font-size: 1.8rem;
    font-weight: bold;
    color: $black;
    white-space: nowrap;

    .global-footer & {
      color: $white;
    }
  }

  em {
    font-style: normal;
    color: $primary-color;
  }
}