// General variables
$line-height: 1.6;
$base-margin: $line-height * 1rem;

// Colors
$white: #fff;
$black:#192127;
$primary-color: #2c9cf2;
$secondary-color: #e25d43;
$grey-1: #72797e;
$grey-2: #afbac4;
$grey-3: #bbc1c6;
$grey-4: #e3e5e9;
$grey-5: #f7f9fc;

// image variable
$goal-image-initial-ratio: 3 / 2;
$goal-image-wanted-ratio: 4 / 3;
$goal-image-ratio-correction: $goal-image-initial-ratio - $goal-image-wanted-ratio;
$goal-image-width: (1 + $goal-image-ratio-correction) * 100%;
$goal-image-left-margin: $goal-image-ratio-correction / 2 * 100%;
