.card {
  @include display-flex;
  @include flex-column;
  @include justify-content(space-between);

  @include if-supports-not-box-shadow {
    border: 1px solid $grey-3;
  }
  @include if-supports-box-shadow {
    @include box-shadow(0, 0, 20px, 0, $grey-4);
    border: none;
  }

  font-size: 1rem;
  color: inherit;

  margin: 0 0 $base-margin 0;
  border-radius: 3px;  
  overflow: hidden;
}

.card__thumb {
  @include goal-image-ratio-correction((3 / 2));
  
  text-decoration: none;
  position: relative;
  display: block;

  img {
    display: block;
  }
}

.card__intro {
  padding: $base-margin;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__title {
  font-size: 2em;
  color: $white;
}

.card__subtitle {
  font-size: 1.5em;
  color: $grey-4;
}

.card__footer {
  @include display-flex;
  border-top: 1px solid $grey-3;

  .btn {
    border: none;
    border-radius: 0;
  }

  .btn--like {
    @include flex(1, 0, auto);
    @include justify-content(flex-start);
    border-right: 1px solid $grey-3;
  }

  @include if-supports-not-flexbox {
    @include clearfix;

    .btn {
      float: right;
      width: 30%;
    }

    .btn--like {
      float: left;
      width: 70%;
      text-align: left;
    }
  }
}  

.card {
  position: relative;
  .tag {
    position: absolute;
    top: 0;
    right: 0;
    margin: $base-margin;
    z-index: 1;
  }
}

.card {
  .date {
    @include display-flex;
    @include align-items(center);
    padding: $base-margin;
    
    p {
      margin: 0;
      display: inline-block;
    }
    
    .icon {
      margin: 0 5px 0 0;
    }
  }
}

// Layout for molecule in style guide
.element__content {
  .card {
    max-width: 600px;
    margin: 0 0 ($base-margin * 2) 0;
  }
}
