.comment {
  @include clearfix;

  display: flex;
  margin: 0 0 $base-margin 0;
  max-width: 800px;

  .avatar {
    flex: 0 0 auto;
    margin: 0.2rem $base-margin 0 0;

    @supports not (display: flex) {
      float: left;
      margin-bottom: 13rem;

      @include tablet {
        margin-bottom: 8rem;
      }

      @include desktop {
        margin-bottom: 5rem;
      }
    }
    
    &,
    img {
      @include sizes(45px);
    }
  }
}

.comment__title {
  display: flex;
  align-items: center;
  margin: 0 0 1em 0;

  a {
    text-decoration: none;
  }
}

.comment__name {
  font-size: 1.5rem;
  margin:0 5px 0 0;

  @supports not (display: flex) {
    display: inline-block;
  }
}

.comment__date {
  color: $grey-3;
  margin: 0;
}

.comment--add {
  .avatar {
    margin-top: $base-margin * 2;

    @supports not (display: flex) {
      margin-bottom: 10rem;
    }
  }

  .input {
    max-width: none;
    flex: 1 0 auto;

    @supports not (display: flex) {
      width: 82%;

      @include tablet {
        width: 86%;
      }
      
      @include desktop {
        widows: 92%;
      }
    }
  }

  .input__group {
    display: block;
  }

  .input__label {
    float: none;
    margin: 0 0 .5em 0;
  }

  .input__row {
    float: none;
    width: auto;
  }

  .btn {
    padding: $base-margin ($base-margin * 2);
  }
}
