// Comment style
.comment {
  @include clearfix;
  @include display-flex;

  margin: 0 0 $base-margin 0;
  max-width: 800px;

  .avatar {
    @include if-supports-not-flexbox {
      float: left;
      margin: 0.2rem 13rem 0 0;

      @include tablet {
        margin-bottom: 8rem;
      }

      @include desktop {
        margin-bottom: 5rem;
      }
    }

    @include if-supports-flexbox {
      @include flex(0, 0, auto);
      margin: 0.2rem $base-margin 0 0;
    }
    
    &,
    img {
      @include sizes(45px);
    }
  }
}

.comment__title {
  @include display-flex;
  @include align-items(center);
  margin: 0 0 1em 0;

  a {
    text-decoration: none;
  }
}

.comment__name {
  @include if-supports-not-flexbox {
    display: inline-block;
  }

  font-size: 1.5rem;
  margin:0 5px 0 0;
}

.comment__date {
  color: $grey-3;
  margin: 0;
}

// Post a comment style update
.comment--add {
  .avatar {
    @include if-supports-not-flexbox {
      margin-bottom: 10rem;
    }
    
    margin-top: $base-margin * 2;
  }

  .input {
    @include flex(1, 0, auto);
    @include if-supports-not-flexbox {
      width: 82%;

      @include tablet {
        width: 86%;
      }
      
      @include desktop {
        width: 92%;
      }
    }

    max-width: none;
  }

  .input__group {
    display: block;
  }

  .input__label {
    float: none;
    margin: 0 0 .5em 0;
  }

  .input__row {
    float: none;
    width: auto;
  }

  .btn {
    padding: $base-margin ($base-margin * 2);
  }
}
