.has-dropdown {
  position: relative;
  
  &:hover .dropdown,
  &:focus .dropdown {
    display: block;
  }
}

.dropdown {
  @include if-supports-not-box-shadow {
    border: 1px solid $grey-4;
  }
  @include if-supports-box-shadow {
    @include box-shadow(0, 2px, 10px, 1px, $grey-4);
    border: none;
  }
  
  display: none;
  position: absolute;
  top: 51px;
  right: 0;
  white-space: nowrap;

  background: $white;
  border-radius: 3px;
  overflow: hidden;
  

  &:hover,
  &:focus {
    display: block;
  }

  li {
    border-bottom: 1px solid $grey-4;

    &:last-child {
      border: none;
    }
  }

  a {
    display: block;
    padding: 0.6em ($base-margin * 2) 0.6em $base-margin;

    &:hover,
    &:focus {
      background-color: $grey-4;
      text-decoration: none;
    }
  }
}  
