.input {
  font-size: 1rem;
  margin: 0 0 ($base-margin * 2) 0;

  a {
    display: inline-block;
    font-size: 1.5rem;
  }

  textarea {
    height: $base-margin * 5;
  }

  @include desktop {
    max-width: 600px;
  }
}

// Layout for input group without label
.input__group--nolabel {
  @include display-flex;
  @include align-items(center);
} 

// Field additional info
.additional-info {
  p {
    color: $grey-3;

    @include desktop {
      @include flex(0, 0, auto);
    }
  }
}

.has-additional-info {
  margin: 0 0 .5em 0;
}

// Create Fake label to aligne label-less input and info with the fields
.input__group--nolabel,
.warning,
.additional-info,
.prompt {
  &::before {
    @extend %input__label;
    content: "";

    @include tablet {
      @include flex(0, 0, 25%); // allow overflow of the additional info on the right when possible
      width: 25%;
      margin: 0 0 ($base-margin * 2) 0; // fallback for float to keep the wrapped text indented
    }
  }
}

// If a link is on the same line as  a check box, push it to the right
.checkbox-container + a {
  float: right;
  margin-left: auto;
}

// Prompt layout
.prompt {
  @include display-flex;
  @include align-items(center);
  margin: 0 0 $base-margin 0;

  .btn {
    width: 100%;

    @include tablet {
      width: 75%;
    }
  }
}

// Prompt with cancel link
.prompt--cancel {
  @include clearfix;

  // Remove fake label
  &::before {
    content: none;
  }

  a {
    @include if-supports-not-flexbox {
      float: left;
    }

    margin: 0 auto 0 0;
  }

  .btn {
    @include if-supports-not-flexbox {
      float: right;
    }

    width: 75%;
  }
}
