.global-nav {
  @include clearfix;
  @include display-flex;
  @include align-items(center);
  
  margin: 0;
  
  > li {
    float: left;
    margin-right: 1.6em;

    &:last-child {
      margin-right: 0;
    }
  }

  .avatar,
  img {
    @include sizes(40px);
  }
}

.has-dropdown {
  font-size: 1rem;

  .dropdown {
    top: 41px;
  }
}

.global-nav--masthead {
  > li {
    padding: 0 0 ($base-margin * 2) 0;
  }

  .actual-location {
    border-bottom: 1px solid $black;
  }
}
