.global-nav {
  display: flex;
  align-items: center;
  margin: 0;
  
  > li {
    float: left;
    margin-right: 1.6em;

    &:last-child {
      margin-right: 0;
    }
  }

  .avatar,
  img {
    width: 40px;
    height: 40px;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.has-dropdown {
  font-size: 1rem;

  .dropdown {
    top: 41px;
  }
}

.global-nav--masthead {
  > li {
    padding: 0 0 ($base-margin * 2) 0;
  }

  .actual-location {
    border-bottom: 1px solid $black;
  }
}
