.cards {
  @supports not (display: flex) {
    @include clearfix;
  }

  .card {
    margin: 0 0 ($base-margin * 2) 0;

    @include tablet {
      margin: 0 ($base-margin * 2) ($base-margin * 2) 0;
      width: calc(50% - (#{$base-margin} * 2));

      @supports not (display: flex) {
        float: left;
      }
    }

    @include desktop {
      width: calc((100% / 3) - (#{$base-margin} * 2));
    }
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-right: -($base-margin * 2);
  }
}

// Layout organism for style guide

.cards {
  .card {
    max-width: non;
  }
}
