.cards {
  @include if-supports-not-flexbox {
    @include clearfix;
  }

  .card {
    margin: 0 0 ($base-margin * 2) 0;

    @include tablet {
      @include if-supports-not-flexbox {
        float: left;
      }
      
      margin: 0 ($base-margin * 2) ($base-margin * 2) 0;
      width: calc(50% - (#{$base-margin} * 2));
    }

    @include desktop {
      width: calc((100% / 3) - (#{$base-margin} * 2));
    }
  }

  @include tablet {
    @include display-flex;
    @include flex-wrap(wrap);
    margin-right: -($base-margin * 2);
  }
}

// Layout organism for style guide

.cards {
  .card {
    max-width: non;
  }
}
