.discussion {

  &__header {
    display: flex;
    margin: 0 0 $base-margin 0;
    h2,
    .discussion__comment-nb {
      display: inline-block;
    }

    h2{
      margin-right: 10px;
    }

    .discussion__comment-nb {
      color: $grey-3;
    }
  }

  &__comments {
    font-size: 1rem;
  }

  .input {
    margin: 0;
  }

  .comment {
    margin: 0 0 ($base-margin * 2);
  }
}