.global-footer {
  background: $black;
  padding: ($base-margin * 4) 0;
  
  .content-wrapper {
    @include display-flex;
    @include align-items(center);
  }

  a {
    margin-right: $base-margin;
  }

  p {
    float: right;
    margin: 0 0 0 auto;
  }
}