.global-header {
  border-bottom: 1px solid $grey-4;
  margin: 0 0 ($base-margin * 4);
  padding: $base-margin 0 0 0;

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.global-header {
  .logo {
    margin: 0 $base-margin $base-margin 0;
    display: inline-block;
  }

  .search {
    flex: 1 1 auto;
    margin: 0 0 $base-margin 0;
    max-width: none;

    @include tablet {
      margin: 0 $base-margin $base-margin 0;
    }
  }

  .input__group {
    margin: 0;
  }

  .input__field::placeholder {
    color: $white;
    @include desktop {
      color: inherit;
    }
  }

  nav {
    margin: 0 0 $base-margin 0;
  }

  .global-nav--tablet {
    display: none;
  }

  @include tablet {
    .global-nav--mobile{
      display: none;
    }

    .global-nav--tablet {
      display: flex;
      @supports not (display: flex) {
        display: block;
      }
    }
  }
}

@supports not (display: flex) {
  .global-header {
    .logo {
      float: left;
    }

    .search {
      display: inline-block;
      width: 50%;
      min-width: 340px;
    }

    nav {
      @include desktop {
        float: right;
      }
    }
  }
}

.global-header--style-guide {
  @include tablet {
    .logo {
      margin-right: auto;
    }

    nav {
      float: right;
    }
  }
}
