.global-header {
  border-bottom: 1px solid $grey-4;
  margin: 0 0 ($base-margin * 4);
  padding: $base-margin 0 0 0;

  .content-wrapper {
    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items(center);
  }
}

.global-header {
  .logo {
    @include if-supports-not-flexbox {
      float: left;
    }
      
    margin: 0 $base-margin $base-margin 0;
    display: inline-block;
  }
}

.global-header {
  .search {
    @include flex(1, 1, auto);
    @include if-supports-not-flexbox {
      display: inline-block;
      width: 50%;
      min-width: 340px;
    }
    
    margin: 0 0 $base-margin 0;
    max-width: none;
    
    .input__group {
      margin: 0;
    }
    
    .input__field {
      @include placeholder-custom($color: $white);
      @include desktop {
        @include placeholder-custom($color: $grey-3);
      }
    }

    @include tablet {
      margin: 0 $base-margin $base-margin 0;
    }
  }
}

.global-header {
  nav {
    @include if-supports-not-flexbox {
      @include desktop {
        float: right;
      }
    }
    
    margin: 0 0 $base-margin 0;
  }
  
  // .global-nav--mobile visible by default and hidden at tablet size
  .global-nav--mobile {
    @include tablet {
      display: none;
    }
  }
  
  // .global-nave--tablet hidden by default and visible at tablet size
  // If flexbox available, use display: flex, otherwise use display: block
  .global-nav--tablet {
    display: none;
    
    @include tablet {
      @include display-flex;
      
      @include if-supports-not-flexbox {
        display: block;
      }
    }
  }
}

.global-header--style-guide {
  @include tablet {
    .logo {
      margin-right: auto;
    }

    nav {
      float: right;
    }
  }
}
