// Special masthead
// Put space between masthead bottom border and content
.goal {
  .content-wrapper {
    margin: 0 0 ($base-margin * 3) 0;
  }
}

.goal__title {
  display: block;

  // Put goal title on the right on desktop size
  @include desktop {
    float: right;
    width: 50%;
  }
}

.goal__author {
  @include display-flex;
  @include align-items(center);
  margin: 0 0 .5em 0;

  .avatar {
    margin: 0 10px 0 0;

    &, 
    img {
      @include sizes(40px);
    }
  }

  p {
    margin: 0;
  }
}

.goal__image {
  @include goal-image-ratio-correction((3 / 2));
  
  margin: 0 0 $base-margin 0;
  border-radius: 2px;

  img {
    display: block;
  }

  // Put image on the left in desktop size
  @include desktop {
    float: left;
    margin: 0 ($base-margin * 2) 0 0;
    width: calc(50% - (#{$base-margin} * 2));
  }
}

.goal__info {
  // Put goal info on the right on desktop size
  @include desktop {
    float: right;
    width: 50%;
  }
}

.goal__buttons {
  // Wrap buttons
  @include display-flex;
  @include flex-wrap(wrap);
  margin: 0 0 $base-margin 0;

  @include tablet {
    // Stop wrapping at tablet size
    @include flex-wrap(nowrap);
  }
}

// General style for goal buttons
// Two buttons next to each other taking spanning all the parent element
// And taking a third of the space at desktop size
.goal__buttons .btn {
  @include if-supports-flexbox {
    @include flex(1, 0, auto);
    width: calc(50% - #{$base-margin});
    
    @include desktop {
      @include flex(1, 1, auto);
      width: calc(((1 / 3) * 100%) - #{$base-margin});
    }
  }
  
  @include if-supports-not-flexbox {
    float: left;
    width: calc(50% - (#{$base-margin} / 2));
    
    @include desktop {
      width: calc(((1 / 3) * 100%) - (#{$base-margin} * 2 / 3));
    }
  }
  
  margin: 0 $base-margin $base-margin 0;

  &:last-child {
    margin: 0 0 $base-margin 0;
  }
}

// Goal buttons style when there are three buttons
// First button span all the parent width, others aligne in a second line 50% width
// At tablet size all three buttons are in line, taking 30% of the width
.goal__buttons--three .btn {
  @include tablet {
    @include if-supports-not-flexbox {
      width: calc(((1 / 3) * 100%) - (#{$base-margin} * 2 / 3));
    }
    @include if-supports-flexbox {
      width: calc(((1 / 3) * 100%) - #{$base-margin});
    }
  }

  &:first-child {
    margin: 0 0 $base-margin 0;
    width: 100%;

    // need to overwright pseudo-class specificity
    @include tablet {
      @include if-supports-not-flexbox {
        width: calc(((1 / 3) * 100%) - (#{$base-margin} * 2 / 3));
      }
      @include if-supports-flexbox {
        width: calc(((1 / 3) * 100%) - #{$base-margin});
      }
      
      margin: 0 $base-margin $base-margin 0;
    }
  }
}

.goal__stats {
  @include display-flex;
  @include align-items(center);
  font-size: 1rem;
  margin: 0 0 $base-margin 0;

  li {
    color: $grey-3;
    padding: 0 .5em;
    border-right: 1px solid $grey-4;

    &:first-child {
      padding: 0 .5em 0 0;
    }

    &:last-child {
      padding: 0 0 0 .5em;
      border: none;
    }
  }
}

.goal__tags {
  @include display-flex;
  margin: 0;

  .tag {
    margin: 0;
  }

  li {
    margin: 0 .8em 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

// Add float to list element and clearfix to lists in case flexbox is not supported
// for .goal__author, the avatar is flaoting left from the .masthead__title
.goal__author,
.goal__buttons,
.goal__stats,
.goal__tags {
  @include if-supports-not-flexbox {
    @include clearfix;
    
    li {
      float: left;
    }
  }
}
