.masthead {
  margin: 0 0 ($base-margin * 3) 0;
  border-bottom: 1px solid $grey-4;

  .avatar {
    margin: 0 $base-margin 0 0;

    &,
    img {
      @include sizes(45px);
      
      @include desktop {
        @include sizes(50px);
      }
    }
  }

  .global-nav--masthead {
    margin: 0 0 -1px 0;
  }
}

.masthead__title {
  @include if-supports-not-flexbox {
    @include clearfix;
    
    h1 {
      display: inline-block;
      margin: 0;
    }

    .btn {
      float: right;
    }

    .avatar {
      float: left;
    }
  }

  @include if-supports-flexbox {
    @include display-flex;
    @include align-items(center);

    h1 {
      margin: 0 auto 0 0;
    }
  }

  margin: 0 0 ($base-margin * 2) 0;
}
