.avatar {
  border-radius: 100%;
  overflow: hidden;

  &,
  img {
    @include sizes(50px);
  }
}

// Layout for atom in style guide

.element__content {
  & > .avatar {
    margin: 0 0 $base-margin 0;
  }
}