.btn {
  font-size: 1.3rem;
  line-height: 1;
  background: $white;
  color: $black;

  padding: $base-margin;
  margin: 0;
  width: max-content;
  
  border: 1px solid $grey-4;
  border-radius: 2px;

  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin: 0 5px 0 0;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background-color: $grey-4;
    color: $primary-color;

    .icon {
      fill: $primary-color;
    }
  }
}

.btn--primary {
  background: $primary-color;
  color: $white;
  border: 1px solid $primary-color;

  .icon {
    fill: $white;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary-color, 20);
    border-color: darken($primary-color, 10);
    color: $white;

    .icon {
      fill: $white;
    }
  }
}

.btn--secondary {
  &:hover,
  &:active,
  &:focus {
    background: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
    color: $white;
    
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 $base-margin 0;

  .btn {
    float: left;
    margin: 0 $base-margin $base-margin 0;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
