.input__group,
.warning,
.additional-info {
  @include clearfix;

  margin: 0 0 $base-margin 0;

  @include tablet {
    @include display-flex;
    @include align-items(center);

    &--textarea {
      @include align-items(flex-start);
    }
  }
}

.input__row {
  @include display-flex;

  @include tablet {
    float: right;
    width: 75%;
  }
}

.input__label,
%input__label {
  display: inline-block;
  color: $black;
  margin: 0 0 .5em 0;
  cursor: pointer;

  @include tablet {
    float: left;
    margin: 0 auto 0 0;
  }
}

.input__field {
  @include box-sizing(border-box);
  @include flex(1, 0, auto);

  @include if-supports-not-box-shadow {
    border: 1px solid $grey-4;
  }
  @include if-supports-box-shadow {
    @include box-shadow(0, 2px, 10px, 1px, $grey-4);
    border: 1px solid $white;
  }
  
  @include placeholder-custom($color: $grey-3);

  background: $white;
  color: $black;
  font-size: 1.5rem;

  padding: $base-margin;
  margin: 0;
  width: 100%;
  border-radius: 2px;
  
  font-family: "Rubik", Arial, Helvetica, sans-serif; // For textarea
  resize: none;                                       // 

  &:focus {
    border: 1px solid $primary-color;
  }
}

.input__file-container {
  @include flex(1, 0, auto);
  position: relative;
} 

.input__file-trigger {
  @include if-supports-not-flexbox {
    display: inline-block;
  }

  width: 100%;
}

.input__file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	z-index: -1;
  cursor: pointer;

  &:hover + .input__file-trigger,
  &:focus + .input__file-trigger {
    background: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
  }
}

/* Create a custom checkbox */
.checkmark {
  // Box design
  @include flex(0, 0, auto);
  display: inline-block;
  height: $base-margin;
  width: $base-margin;
  padding: 0;
  margin: 0 10px 0 0;

  // Checkmark design, hidden by default
  &::after {
    @include transform(rotate(35deg));
    display: none;
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }
}

.checkbox-container {
  @include display-flex;
  @include align-items(center);
  @include user-select-none;
  position: relative;
  margin: 0;
  cursor: pointer;

  .input__checkbox {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    // Highlight the box when hovered or focused
    &:hover + .checkmark,
    &:focus + .checkmark {
      border: 1px solid $primary-color;
    }

    // When checkbox checked change box color
    &:checked + .checkmark {
      background: $primary-color;
    }

    // When checkbox checked display checkmark
    &:checked + .checkmark::after {
      display: block;
    }
  }
}

.warning {
  color: $secondary-color;

  p {
    margin: 0;
  }
}


// Layout atoms in style guide
.field-list {
  font-size: 1rem;
}
