.input__group,
.warning,
.additional-info {
  margin: 0 0 $base-margin 0;

  @include tablet {
    display: flex;
    align-items: center;

    &--textarea {
      align-items: flex-start;
    }
  }
}

.input__row {
  display: flex;

  @include tablet {
    flex: 1 0 auto;
  }
}

.input__label {
  display: block;
  color: $black;
  margin: 0 0 .5em 0;

  @include tablet {
    flex: 0 0 25%;
  }
}

.input__field {
  background: $white;
  color: $black;
  font-size: 1.5rem;
  padding: $base-margin;
  margin: 0;
  border: 1px solid $grey-4;
  border-radius: 2px;
  @supports (box-shadow: 0 2px 10px 1px $grey-4) {
    border: 1px solid $white;
    box-shadow: 0 2px 10px 1px $grey-4;
  }
  flex: 1 0 auto;
  
  font-family: "Rubik", Arial, Helvetica, sans-serif; // For textarea
  resize: none;                                       // 

  &:focus {
    border: 1px solid $primary-color;
  }

  &::placeholder {
    color: $grey-3;
  }
}

.input__file-container {
  position: relative;
  flex: 1 0 auto;
} 

.input__file-trigger {
  width: auto;
}

.input__file {
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	z-index: -1;
  cursor: pointer;

  &:hover + .input__file-trigger,
  &:focus + .input__file-trigger {
    background: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
  }
}

/* Create a custom checkbox */
.checkmark {
  // Box design
  display: block;
  height: $base-margin;
  width: $base-margin;
  padding: 0;
  margin: 0 10px 0 0;
  flex: 0 0 auto;

  // Checkmark design, hidden by default
  &::after {
    display: none;
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
  }
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  user-select: none;

  .input__checkbox {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:hover + .checkmark,
    &:focus + .checkmark {
      border: 1px solid $primary-color;
    }

    &:checked + .checkmark {
      background: $primary-color;
    }

    &:checked + .checkmark::after {
      display: block;
    }
  }
}

.warning {
  color: $secondary-color;

  p {
    margin: 0;
  }
}

.field-list {
  font-size: 1rem;
}