.icon {
  @include sizes(24px);
  fill: $grey-3;
  
  &--primary{
    fill: $primary-color;
  }
}

// Layout for atoms in style guide
.icons {
  li {
    margin: 0 0 $base-margin 0;
  }

  .icon {
    position: relative;
    top: 8px;
  }
}
