.bg {
  background: $white;
  width: max-content;
  padding: $base-margin;
  margin: 0 0 $base-margin 0;

  &--black {
    background: $black;
  }
}

.logo {
  text-decoration: none;

  a {
    text-decoration: none;
  }

  span {
    font-size: 1.8rem;
    font-weight: bold;
    color: $black;
    white-space: nowrap;
  }

  em {
    font-style: normal;
    color: $primary-color;
  }

  &--inverted {
    span {
      color: $white;
    }
  }
}