// Layout atom in style guide
.palette {
  @include clearfix;
  @include display-flex;
  @include flex-wrap(wrap);

  font-size: 1rem;
  margin-right: - $base-margin;

  li {
    float: left;
    margin: 0 $base-margin $base-margin 0;
    width: calc(50% - #{$base-margin});

    @include tablet {
      width: calc(25% - #{$base-margin});      
    }

    @include desktop {
      width: calc(((1 / 6) * 100%) - #{$base-margin});      
    }
  }

  &__color {
    height: 6em;
  }
}

// Palette colors
.primary-color {
  background: $primary-color;
}

.secondary-color {
  background: $secondary-color;
}

.black {
  background: $black;
}

.grey-1 {
  background: $grey-1;
}

.grey-2 {
  background: $grey-2;
}

.grey-3 {
  background: $grey-3;
}

.grey-4 {
  background: $grey-4;
}

.grey-5 {
  background: $grey-5;
}
